.review {
  margin-top: 6vh;
  width: 100%;
  max-width: 1024px;
}

.titleReview {
  margin-bottom: 30px;
}

.containerReviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Đảm bảo các cột đều căng trên hàng */
}

.cardReview {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #0871c2;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16); /* Điều chỉnh giá trị để phù hợp với thiết kế của bạn */
}

.boxReview {
  padding: 10px;
}

.revCustomer {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ratingNumber {
  display: flex;
  gap: 5px;
  align-items: center;
}
.containerComment {
  display: flex;
}

.writeReview {
  margin-bottom: 20px;
}

.feedback,
.inputInfo {
  flex: 1; /* Chia đều chiều rộng cho hai cột */
}

.feedback {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputFeedback {
  height: 120px; /* Đặt chiều cao mong muốn */
  border-radius: 5px;
  width: 90%;
}

.infInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputText {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
}

.submit {
  padding: 15px;
  background-color: #0871c2;
  color: white;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cancel {
  padding: 15px;
  background-color: #fff;
  color: #0871c2;
  border-radius: 8px;
  border: 1px solid #333;
  font-weight: bold;
  cursor: pointer;
}

.inputRating {
  width: 40px;
  height: 30px;
}

.revCustomer > h4,
.ratingNumber > svg {
  color: #0871c2;
}

.optionRating {
  display: flex;
  gap: 4px;
  align-items: center;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0871c2;
  color: #fff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
