.navbar {
  height: 50px;
  background-color: #003b95;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 27px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 3px;
}
.navButton,
.navButton > a {
  color: #006ce4;
  background-color: white;
}
